@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment was made successfully</h1>
        <h3 class="text-center">Thank you for your order.</h3>
        <h4 class="text-center">Your order number is: <span class="text-danger">@Model</span></h4>
        <img src="~/images/lawn_leaf.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center">
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-primary">Back to Details</a>
    </div>
</div>